@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  text-align: center;
  color: #2c3e50;
  margin: 40px 10px;
}

video {
  width: 45vw;
  height: 35vw;
  margin: 2rem;
  background: #2c3e50;
}

@media screen and (max-width: 550px) {
  video {
    width: 75vw;
    height: 65vw;
  }
}